.Actions {
    @apply flex justify-center mt-4;
}
.Actions--noMargin {
    @apply mt-0;
}
.Actions--small {
    @apply my-2;
}
.Actions .Button {
    flex: 1;
    margin: 0px 12px;
}
.Actions--small .Button {
    flex: auto;
    margin: 0px 2px;
}
.Actions .Button:first-child {
    margin-left: 0px;
}
.Actions .Button:last-child {
    margin-right: 0px;
}

.Button {
	@apply font-bold p-3 rounded cursor-pointer align-text-bottom leading-normal;
}
.Button:focus {
    @apply outline-none;
}
.Button--primary {
    @apply bg-blue text-white;
}
.Button--primary:hover {
    @apply bg-blue-dark;
}
.Button--danger {
    @apply bg-danger text-white;
}
.Button--secondary {
    @apply bg-grey-light text-grey-darkest;
}
.Button--secondary:hover {
    @apply bg-grey;
}
.Button--loading, .Button--loading:hover {
    @apply bg-black text-grey;
}
.Button--disabled, .Button--disabled:hover {
    @apply bg-grey-light text-grey;
}
.Button--xs {
	@apply py-1 px-2 text-xs h-6;
}
.Button--xl {
	@apply py-4 px-6 text-xl h-16;
}