.body {
    background-color: red;
}
.Form {
    display: flex;
    flex-flow: column;
}
.Form__row {
    @apply flex flex-col mb-4;
}
.Form__row--noMargin {
    @apply mb-0;
}
.Form__input {
    @apply border rounded p-3 rounded border-grey leading-normal outline-none;
}
.Form__input--textarea {
    @apply h-64;
}
.Form__input:hover {
    @apply border-blue;
}
.Form__input:focus {
    @apply border-blue-dark;
}
.Form__group {
    display: flex;
    margin-bottom: 12px;
}
.Form__group .Form__input {
    margin-bottom: 0;
    margin-right: 12px;
}
.Form__group button {
    
}