.body {
    background-color: red;
}
.Form {
    display: flex;
    flex-flow: column;
}
.Form__row {
    @apply flex flex-col mb-4 flex-1;
}
.Form__row--noMargin {
    @apply mb-0;
}
.Form__label {
    @apply leading-normal; 
}
.Form__input {
    @apply border rounded p-3 rounded border-grey leading-normal outline-none;
}
.Form__input--textarea {
    @apply h-64;
}
.Form__input:hover {
    @apply border-blue;
}
.Form__input:focus {
    @apply border-blue-dark;
}
.Form__group {
    @apply flex items-center py-2;
}
.Form__group--border {
    @apply border-t;
}
.Form__group .Form__row {
    @apply mr-2;
}
.Form__group .Form__row:last-child {
    @apply mr-0;
}