.Form {
    display: flex;
    flex-flow: column;
    padding: 50px;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 5px;
}
.Form__title {
    text-align: center;
    padding: 0px 12px 12px;
}
.Form__input {
    border: 1px solid #ccc;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 5px;
    display: block;
    width: 100%;
}
.Form__group {
    display: flex;
    margin-bottom: 12px;
}
.Form__group .Form__input {
    margin-bottom: 0;
    margin-right: 12px;
}
.Form__group button {
    
}