.PageItem__container {
    @apply flex justify-center p-0;
}
.PageItem {
    @apply flex flex-col my-0 mx-2 rounded;
}
.PageItem--full {
    @apply flex-1;
}
.PageItem--noMargin {
    @apply mx-0;
}
.PageItem--small {
    @apply mx-1;
}
.PageItem__fill {
    @apply rounded flex flex-1 items-center justify-center;
    min-width: 100px;
    min-height: 100px;
}
.PageItem__fill--circle {
    border-radius: 50px;
}
.PageItem__fill--noWidth {
    min-width: auto;
}
.PageItem__fill--noHeight {
    min-height: auto;
}
.PageItem__fill--withPadding {
    padding: 24px;
}
.PageItem--small .PageItem__fill {
    min-width: 50px;
    min-height: 50px;
    font-size: 10px;
}
.PageItem__title {
    @apply text-center truncate;
}
.PageItem__image {
    width: auto;
    height: 100px;
    display: block;
}
.PageItem--small .PageItem__image {
    height: 50px;
}
.PageItem__actions {
    display: flex;
    justify-content: center;
}
.PageItem__action {
    font-size: 10px;
    color: #ccc;
    margin: 6px;
    cursor: pointer;
}